<select name="exportFormat" (change)="onChange($event)">
    <option>PDF</option>
    <option>DOCX</option>
    <option>XLS</option>
    <option>XLSX</option>
    <option>RTF</option>
    <option>MHT</option>
    <option>HTML</option>
    <option>TXT</option>
    <option>CSV</option>
    <option>PNG</option>
</select>
<button style="margin:5px" (click)="downloadFile()">Export a report</button>


<button style="margin:5px" (click)="printInNewWindow('api/Home/Print')">Print a report in a new tab</button>
<button style="margin:5px" (click)="printWithIFrame('api/Home/Print')">Print a report with IFrame</button>
<iframe id="printFrame" name="printFrameName" #printFrame [src]="printUrl" frameborder="0" width="1" height="1" style="position: absolute; top:-100px;"></iframe>